body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#productList > tr {
  cursor: pointer;
}

.total {
  font-size: 18px; 
}

img {
  max-width: 600px; 
  max-height: 600px; 
}


#sortName, #sortPrice, #sortCategory {
  cursor: pointer;
}

th:hover, .test:hover {
  background-color: #ddd;
}

.test {
  font-size: 24px; 
  cursor: pointer;
  text-align: center;
}

.heart{
  color: red;
}

.club{
  color: #ddd;
  text-shadow: 
    1px 0px 7px black, 0px 1px 7px black, 
    2px 1px 7px black, 1px 2px 7px black,    
    -1px -0px 7px black, -0px -1px 7px black, 
    -2px -1px 7px black, -1px -2px 7px black
}

.diamond{
 color: #ddd;
  text-shadow: 
    1px 0px 7px red, 0px 1px 7px red, 
    2px 1px 7px red, 1px 2px 7px red,
    -1px -0px 7px red, -0px -1px 7px red, 
    -2px -1px 7px red, -1px -2px 7px red
}